Hi, my name is {{.name}}.

A few of my favorite things are:
{{range .favoriteThings}}
* {{.}}{{end}}

Now: {{ Now }}

Prefix: {{ Prefix "world" "hello, " }}

Prefix + Postfix: {{ range Postfix ( Prefix .favoriteThings "<" ) ">"  }}
* {{.}}{{end}}

PrePostJoin: {{ PrePostJoin .favoriteThings "((" "))" ", " }}

Join: {{ Join .favoriteThings ", " }}
